/*
*Theme Name:     CozyStay Child Theme
*Theme URI: 	 https://cozystay.loftocean.com/
*Description:    CozyStay child theme for user customization
*Author:         Loft.Ocean
*Author URI:     http://www.loftocean.com
*License: 		 GNU General Public License v2 or later
*License URI: 	 http://www.gnu.org/licenses/gpl-2.0.html
*Tags: 			 full-width-template, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, rtl-language-support, sticky-post, threaded-comments, translation-ready
*Template:       cozystay
*Text Domain: 	 cozystay-child
*Version:        1.0
*/

 /** Add your styles below **/
